body {
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;	
}

#bus {
	position: absolute;
	visibility: hidden;	
}

#frame {
	position: absolute;
	visibility: hidden;	
}