#sun {
	left: 0px;
	position: absolute;
	top: 0px;

	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;	
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}